main{
  min-height: 1vh;
  padding: 20px;
  background-color: var(--bg-primary);

  .principal {
    margin-top: 20px;
    min-height: 500px;
    width: 50%;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    img{
      width: 90%;
      border: black solid 3px;
      border-radius: 5px;
    }

    h2{
      margin-top: 1%;
      color: var(--color-secundary);
      text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
      text-align: center;
    }

    p{
      text-align: justify;
      margin-top: 1%;
    }
  }

  /* Estilos para a div à direita */
  .detalhes {
    min-height: 500px;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2{
      color:var(--color-secundary);
      text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
      background-color: var(--color-primary);
      padding-bottom: 10px;
    }

    p{
      text-align: justify;
      background-color: var(--color-primary);
    }
  }

  /* Estilos para a seção de vantagens no final */
  .vantagens {
    display: flex;
    background-color: var(--bg-primary);
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
    float: inline-end;
    width: 100%;

    div {
      flex: 1;
      padding: 20px;
      text-align: center;
      background-color: var(--color-secundary);
      border: solid black 2px;

      h3 {
        margin-bottom: 10px;
        background-color: var(--color-secundary);
        text-decoration: underline;
      }

      p{
        background-color: var(--color-secundary);
      }
    }
  }
}

@media screen and (max-width: 865px){
  main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .principal{
      width: 90%;
      float: none;

      img{
        margin: 0;
        width: 90%;
      }

      h2{
        margin: 0;
      }

      p{
        margin: 0;
      }
    }

    .detalhes{
      width: 90%;
      min-height: 400px;

      div{
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (max-width: 690px){
  main{
    .vantagens{
      flex-direction: column;
    }
  }
}