footer{
    min-height: 50px;
    background-color: var(--color-primary);
    border-top: var(--color-secundary) solid 3px;
    text-align: center;
    padding: 10px;
    clear: both;

    h3{
        background-color: var(--color-primary);
    }
}
